openapi: 3.2.0
info:
  title: act-on-api-1 Medialink API
  version: '2.0'
servers:
- url: https://api.actonsoftware.com
security:
- sec0: []
tags:
- name: Medialink
paths:
  /api/1/medialink:
    post:
      summary: Add a media link
      description: 'Add a new URL as a trackable link in your media library. <p>NOTE: This is a "x-www-form-urlencoded" post </p>'
      operationId: add-a-media-link
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                url:
                  type: string
                  description: Specify the source URL
                foldername:
                  type: string
                  description: Specify the folder name you would like the media file added to
                name:
                  type: string
                  description: Specify a name for the media link
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{}{\n    \"status\": \"success\",\n    \"message\": \"URL saved\",\n    \"id\": \"u-df790230-6e79-4ac3-b8f5-c1bb8ee5022e\"\n}"
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n    \"errorCode\": 90004,\n    \"message\": \"Empty or improperly formatted URL given\"\n}"
              schema:
                type: object
                properties:
                  errorCode:
                    type: integer
                    example: 90004
                    default: 0
                  message:
                    type: string
                    example: Empty or improperly formatted URL given
      deprecated: false
      tags:
      - Medialink
components:
  securitySchemes:
    sec0:
      type: apiKey
      in: header
      name: Authorization
      x-bearer-format: bearer
x-readme:
  headers: []
  explorer-enabled: true
  proxy-enabled: true
x-readme-fauxas: true
