openapi: 3.2.0
info:
  title: Act On Token API
  version: '2.0'
  description: 'Operations tagged Token across 2 of this provider''s published API definitions: act-on-api-raw-body.json, act-on-oauth-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.actonsoftware.com
security:
- sec0: []
tags:
- name: Token
paths:
  /token:
    post:
      summary: Grant-Type Password (Scott)
      description: ''
      operationId: grant-type-password-scott
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      tags:
      - Token
    servers:
    - url: https://api.actonsoftware.com
  /token?grant_type=password:
    post:
      summary: Grant-Type Password
      description: Use Username and password to get access token and refresh token
      operationId: Grant-TypePassword
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                username:
                  type: string
                  description: Act-On username (email) for the account
                password:
                  type: string
                  description: Act-On password for the username
                client_id:
                  type: string
                  description: Client ID
                client_secret:
                  type: string
                  description: Client Secret
              type: object
              required:
              - username
              - password
              - client_id
              - client_secret
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{  \"access_token\":\"12345678-9abc-defg-hijk-lmnopqrs\",\n   \"refresh_token\":\"12345678-9abc-defg-hijk-lmnopqrs\",\n   \"scope\":\"offline-access\",\n   \"token_type\":\"Bearer\",\n   \"expires_in\": 3600}"
              schema:
                type: object
                properties:
                  access_token:
                    type: string
                    example: 12345678-9abc-defg-hijk-lmnopqrs
                  refresh_token:
                    type: string
                    example: 12345678-9abc-defg-hijk-lmnopqrs
                  scope:
                    type: string
                    example: offline-access
                  token_type:
                    type: string
                    example: Bearer
                  expires_in:
                    type: integer
                    example: 3600
                    default: 0
        '401':
          description: Invalid client_id or client_secret
          content:
            application/json:
              examples:
                Result:
                  value:
                    error: access_denied
                    error_description: Unauthorized
              schema:
                type: object
                properties: {}
        '403':
          description: Invalid username or password
          content:
            application/json:
              examples:
                Result:
                  value:
                    error: invalid_grant
                    error_description: Wrong email or password.
              schema:
                type: object
                properties: {}
      deprecated: false
      security: []
      tags:
      - Token
      x-operation-id-source: normalized
      x-operation-id-original: Grant-Type Password
    servers:
    - url: https://api.actonsoftware.com
components:
  securitySchemes:
    sec0:
      type: apiKey
      in: header
      name: Authorization
      x-bearer-format: bearer
x-refined-from:
- act-on-api-raw-body.json
- act-on-oauth-openapi.yml
x-readme:
  headers: []
  explorer-enabled: true
  proxy-enabled: true
x-readme-fauxas: true
