openapi: 3.2.0
info:
  title: Act On Token API
  version: '2.0'
  description: 'Operations tagged Token across 2 of this provider''s published API definitions: act-on-oauth-openapi.yml, act-on-raw-body-api-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.actonsoftware.com
security:
- sec0: []
tags:
- name: Token
paths:
  /token:
    servers:
    - url: https://api.actonsoftware.com
    post:
      summary: Grant-Type Refresh
      description: Uses refresh_token to get a new access_token and refresh_token
      operationId: Grant-Type Refresh
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                grant_type:
                  type: string
                  default: refresh_token
                client_id:
                  type: string
                client_secret:
                  type: string
                refresh_token:
                  type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{  \"access_token\":\"12345678-9abc-defg-hijk-lmnopqrs\",\n   \"refresh_token\":\"12345678-9abc-defg-hijk-lmnopqrs\",\n   \"scope\":\"offline-access\",\n   \"token_type\":\"Bearer\",\n   \"expires_in\": 3600}"
              schema:
                type: object
                properties:
                  access_token:
                    type: string
                    example: 12345678-9abc-defg-hijk-lmnopqrs
                  refresh_token:
                    type: string
                    example: 12345678-9abc-defg-hijk-lmnopqrs
                  scope:
                    type: string
                    example: offline-access
                  expires_in:
                    type: integer
                    example: 3600
                    default: 0
                  token_type:
                    type: string
                    example: Bearer
        '401':
          description: Invalid client_id or client_secret
          content:
            application/json:
              examples:
                Invalid client_id or client_secret:
                  value:
                    error: access_denied
                    error_description: Unauthorized
                  summary: Invalid client_id or client_secret
              schema:
                type: object
                properties: {}
        '403':
          description: Invalid refresh_token
          content:
            application/json:
              examples:
                Invalid refresh_token:
                  value:
                    error: invalid_grant
                    error_description: Unknown or invalid refresh token.
                  summary: Invalid refresh_token
              schema:
                type: object
                properties: {}
      deprecated: false
      security: []
      tags:
      - Token
components:
  securitySchemes:
    sec0:
      type: oauth2
      flows: {}
x-refined-from:
- act-on-oauth-openapi.yml
- act-on-raw-body-api-openapi.yml
x-readme: {}
