openapi: 3.1.0
info:
  title: oauth
  version: '2.0'
servers:
- url: https://api.actonsoftware.com
components:
  securitySchemes:
    sec0:
      type: oauth2
      flows: {}
security:
- sec0: []
paths:
  /token?grant_type=password:
    post:
      summary: Grant-Type Password
      description: Use Username and password to get access token and refresh token
      operationId: Grant-Type Password
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                username:
                  type: string
                  description: Act-On username (email) for the account
                password:
                  type: string
                  description: Act-On password for the username
                client_id:
                  type: string
                  description: Client ID
                client_secret:
                  type: string
                  description: Client Secret
              type: object
              required:
              - username
              - password
              - client_id
              - client_secret
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{  \"access_token\":\"12345678-9abc-defg-hijk-lmnopqrs\",\n   \"refresh_token\"\
                    :\"12345678-9abc-defg-hijk-lmnopqrs\",\n   \"scope\":\"offline-access\",\n   \"token_type\"\
                    :\"Bearer\",\n   \"expires_in\": 3600}"
              schema:
                type: object
                properties:
                  access_token:
                    type: string
                    example: 12345678-9abc-defg-hijk-lmnopqrs
                  refresh_token:
                    type: string
                    example: 12345678-9abc-defg-hijk-lmnopqrs
                  scope:
                    type: string
                    example: offline-access
                  token_type:
                    type: string
                    example: Bearer
                  expires_in:
                    type: integer
                    example: 3600
                    default: 0
        '401':
          description: Invalid client_id or client_secret
          content:
            application/json:
              examples:
                Result:
                  value:
                    error: access_denied
                    error_description: Unauthorized
              schema:
                type: object
                properties: {}
        '403':
          description: Invalid username or password
          content:
            application/json:
              examples:
                Result:
                  value:
                    error: invalid_grant
                    error_description: Wrong email or password.
              schema:
                type: object
                properties: {}
      deprecated: false
      security: []
  /token:
    post:
      summary: Grant-Type Refresh
      description: Uses refresh_token to get a new access_token and refresh_token
      operationId: Grant-Type Refresh
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                grant_type:
                  type: string
                  default: refresh_token
                client_id:
                  type: string
                client_secret:
                  type: string
                refresh_token:
                  type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{  \"access_token\":\"12345678-9abc-defg-hijk-lmnopqrs\",\n   \"refresh_token\"\
                    :\"12345678-9abc-defg-hijk-lmnopqrs\",\n   \"scope\":\"offline-access\",\n   \"token_type\"\
                    :\"Bearer\",\n   \"expires_in\": 3600}"
              schema:
                type: object
                properties:
                  access_token:
                    type: string
                    example: 12345678-9abc-defg-hijk-lmnopqrs
                  refresh_token:
                    type: string
                    example: 12345678-9abc-defg-hijk-lmnopqrs
                  scope:
                    type: string
                    example: offline-access
                  expires_in:
                    type: integer
                    example: 3600
                    default: 0
                  token_type:
                    type: string
                    example: Bearer
        '401':
          description: Invalid client_id or client_secret
          content:
            application/json:
              examples:
                Invalid client_id or client_secret:
                  value:
                    error: access_denied
                    error_description: Unauthorized
                  summary: Invalid client_id or client_secret
              schema:
                type: object
                properties: {}
        '403':
          description: Invalid refresh_token
          content:
            application/json:
              examples:
                Invalid refresh_token:
                  value:
                    error: invalid_grant
                    error_description: Unknown or invalid refresh token.
                  summary: Invalid refresh_token
              schema:
                type: object
                properties: {}
      deprecated: false
      security: []
x-readme:
  headers: []
  explorer-enabled: true
  proxy-enabled: true
x-readme-fauxas: true
