{
  "openapi": "3.1.0",
  "info": {
    "title": "Custom Objects Service",
    "description": "API to manage and import custom objects",
    "version": "3.4.3"
  },
  "servers": [
    {
      "url": "https://api.actonsoftware.com/custom-objects",
      "description": "Generated server url"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Custom Data Dataset API",
      "description": "Custom Data Dataset API"
    },
    {
      "name": "Custom Data Schema API",
      "description": "Custom Data Schema API"
    },
    {
      "name": "Custom Data Query API",
      "description": "Custom Data Query API"
    }
  ],
  "paths": {
    "/v1/{accountId}/schema/{objectId}": {
      "get": {
        "tags": [
          "Custom Data Schema API"
        ],
        "summary": "Returns a Custom Data schema",
        "description": "Get a Custom Data schema",
        "operationId": "getSchema",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "The Act-On account Id for this request",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "objectId",
            "in": "path",
            "description": "The Custom Data Schema Id for this request",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Received a bad request.",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Object schema not found.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error.",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Custom Data Schema API"
        ],
        "summary": "Updates a Custom Data schema basic properties",
        "description": "Updates a Custom Data schema basic properties",
        "operationId": "updateSchema",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "The Act-On account Id for this request",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "objectId",
            "in": "path",
            "description": "The Custom Data schema Id for this request",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSchemaRequestDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Schema updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Schema not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Custom Data Schema API"
        ],
        "summary": "Deletes one Custom Data schema",
        "description": "Deletes one Custom Data schema",
        "operationId": "deleteSchema",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "The Act-On account Id for this request",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "objectId",
            "in": "path",
            "description": "The Custom Data schema Id to delete",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "hard",
            "in": "query",
            "description": "Whether to perform a hard delete",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Received a bad request.",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Object Schema not found.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error.",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/{accountId}/schema/{objectId}/field": {
      "put": {
        "tags": [
          "Custom Data Schema API"
        ],
        "summary": "Updates Custom Data schema field properties",
        "description": "Updates a Custom Data schema fields basic properties",
        "operationId": "updateFields",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "The Act-On account Id for this request",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "objectId",
            "in": "path",
            "description": "The Custom Data schema Id for this request",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "description": "The field definitions with updated properties",
                "items": {
                  "$ref": "#/components/schemas/FieldDefinitionDTO"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Fields updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Schema or fields not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Custom Data Schema API"
        ],
        "summary": "Adds fields to Custom Data schemas",
        "description": "Adds fields to Custom Data schemas",
        "operationId": "addFields",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "The Act-On account Id for this request",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "objectId",
            "in": "path",
            "description": "The Custom Data schema Id for this request",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "description": "The fields to add",
                "items": {
                  "$ref": "#/components/schemas/FieldDefinitionDTO"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Fields added successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Received a bad request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Schema not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Custom Data Schema API"
        ],
        "summary": "Deletes fields from Custom Data schemas",
        "description": "Deletes fields from Custom Data schemas",
        "operationId": "deleteFields",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "The Act-On account Id for this request",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "objectId",
            "in": "path",
            "description": "The Custom Data schema Id for this request",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "description": "The field names to delete",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Fields deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Received a bad request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Schema or fields not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/{accountId}/schema": {
      "post": {
        "tags": [
          "Custom Data Schema API"
        ],
        "summary": "Create a Custom Data schema",
        "description": "Create a Custom Data schema",
        "operationId": "createSchema",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "The Act-On account Id for this request",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dryRun",
            "in": "query",
            "description": "When true, validates the request without creating the schema",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSchemaRequestDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "409": {
            "description": "Schema already exists",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/{accountId}/query/{objectId}/{datasetId}/joinWithOther": {
      "post": {
        "tags": [
          "Custom Data Query API"
        ],
        "summary": "Query data from a Custom Data dataset",
        "description": "Performs a query on Custom Data dataset with a simple join with Account Object Context",
        "operationId": "queryData",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "Account ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "objectId",
            "in": "path",
            "description": "The Custom Data Schema Id for this request",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "datasetId",
            "in": "path",
            "description": "The Custom Data Dataset Id for this request",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DataQueryRequestDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Query executed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid query parameters",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Dataset or object not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/{accountId}/query/{objectId}/{datasetId}/joinWithOtherInternal": {
      "post": {
        "tags": [
          "Custom Data Query API"
        ],
        "summary": "Internal query data from a custom object dataset",
        "description": "Performs an internal query on custom object data with a simple join with Account Object Context",
        "operationId": "internalQueryData",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "Account ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "objectId",
            "in": "path",
            "description": "The Custom Object Schema Id for this request",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "datasetId",
            "in": "path",
            "description": "The Custom Object Dataset Id for this request",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DataQueryRequestDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Query executed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid query parameters",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Dataset or object not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/{accountId}/query/joinWithOtherPreflight": {
      "post": {
        "tags": [
          "Custom Data Query API"
        ],
        "summary": "Cache hydration preflight for query performance",
        "description": "Performs cache hydration to optimize subsequent query performance",
        "operationId": "cacheHydrationPreflight",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "Account ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Cache hydration completed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/{accountId}/data/{objectId}": {
      "post": {
        "tags": [
          "Custom Data Dataset API"
        ],
        "summary": "Creates a new dataset for a Custom Data schema",
        "description": "Creates an empty dataset for a specific Custom Data schema",
        "operationId": "createDataset",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "The Act-On account Id for this request",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "objectId",
            "in": "path",
            "description": "The schema ID for this request",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDatasetRequestDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error.",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/{accountId}/data/{objectId}/{identifier}": {
      "get": {
        "tags": [
          "Custom Data Dataset API"
        ],
        "summary": "Retrieves the details for a dataset using its ID or name",
        "description": "Returns detailed information about a dataset",
        "operationId": "describeDataset",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "The Act-On account Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "objectId",
            "in": "path",
            "description": "The Custom Object Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "identifier",
            "in": "path",
            "description": "The dataset ID or name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Dataset details retrieved successfully",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Dataset not found",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Custom Data Dataset API"
        ],
        "summary": "Updates a dataset's name and description",
        "description": "Modifies metadata for an existing dataset",
        "operationId": "updateDataset",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "The Act-On account Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "objectId",
            "in": "path",
            "description": "The Custom Object Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "identifier",
            "in": "path",
            "description": "The dataset ID or name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateDatasetRequestDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Dataset successfully updated",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid name format",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Dataset not found",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "409": {
            "description": "Dataset name already exists",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Custom Data Dataset API"
        ],
        "summary": "Deletes the dataset based on the provided dataset Id",
        "description": "Permanently removes a dataset and all its data",
        "operationId": "deleteDataset",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "The Act-On account Id for the deletion request",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "objectId",
            "in": "path",
            "description": "The Custom Object Id for the deletion request",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "identifier",
            "in": "path",
            "description": "The custom object dataset Id or dataset name for the deletion request",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error.",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/{accountId}/data/{objectId}/{identifier}/json": {
      "post": {
        "tags": [
          "Custom Data Dataset API"
        ],
        "summary": "Ingests a JSON stream for a specific dataset or object",
        "description": "Processes a JSON data stream for the specified dataset",
        "operationId": "ingestJsonStream",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "The Act-On account Id for this request",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "objectId",
            "in": "path",
            "description": "The Custom ObjectId for this request",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "identifier",
            "in": "path",
            "description": "The dataset ID or name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ingestMode",
            "in": "query",
            "description": "The ingest mode (upsert, replace, or delete)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "abortOnInvalidRow",
            "in": "query",
            "description": "Whether to abort processing on invalid data",
            "required": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "description",
            "in": "query",
            "description": "Optional description for the dataset",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "createNewDataset",
            "in": "query",
            "description": "Whether to create a new dataset",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "409": {
            "description": "JSON Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error.",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/{accountId}/data/{objectId}/{identifier}/file": {
      "post": {
        "tags": [
          "Custom Data Dataset API"
        ],
        "summary": "Ingests a CSV or JSON file for a specific dataset or object",
        "description": "Uploads and processes a data file for the specified dataset",
        "operationId": "ingestFile",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "The Act-On account Id for this request",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "objectId",
            "in": "path",
            "description": "The Custom ObjectId for this request",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "identifier",
            "in": "path",
            "description": "The dataset ID or name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ingestMode",
            "in": "query",
            "description": "The ingest mode (UPSERT, REPLACE, or DELETE)",
            "required": false,
            "schema": {
              "type": "string",
              "default": "UPSERT",
              "enum": [
                "UPSERT",
                "REPLACE",
                "DELETE",
                "DELETE_DATASET"
              ]
            }
          },
          {
            "name": "createNewDataset",
            "in": "query",
            "description": "Whether to create a new dataset",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "abortOnInvalidRow",
            "in": "query",
            "description": "Whether to abort on invalid row",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "description",
            "in": "query",
            "description": "Dataset description",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fileType",
            "in": "query",
            "description": "File type (csv or json)",
            "required": false,
            "schema": {
              "type": "string",
              "default": "csv"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                },
                "required": [
                  "file"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "409": {
            "description": "CSV Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error.",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/{accountId}/data/{objectId}/validate": {
      "post": {
        "tags": [
          "Custom Data Dataset API"
        ],
        "summary": "Validates a file against a schema without ingesting data",
        "description": "Checks if a file is valid for the specified schema",
        "operationId": "validateFile",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "The Act-On account Id for this request",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "objectId",
            "in": "path",
            "description": "The schema Id for this request",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/ValidationRequestDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "409": {
            "description": "CSV Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error.",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/{accountId}/schema/all": {
      "get": {
        "tags": [
          "Custom Data Schema API"
        ],
        "summary": "Returns all Custom Data schemas",
        "description": "Get all Custom Data schemas",
        "operationId": "getAllSchemas",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "The Act-On account Id for this request",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Received a bad request.",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorResponse"
                }
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error.",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Custom Data Schema API"
        ],
        "summary": "Deletes all Custom Data schemas",
        "description": "Deletes all Custom Data schemas",
        "operationId": "deleteAllSchemas",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "The Act-On account Id for this request",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "hard",
            "in": "query",
            "description": "Whether to perform a hard delete",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Received a bad request.",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorResponse"
                }
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error.",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/{accountId}/data/{objectId}/all": {
      "get": {
        "tags": [
          "Custom Data Dataset API"
        ],
        "summary": "Retrieves a list of all datasets for a specific schema",
        "description": "Returns all datasets for a specific custom object schema",
        "operationId": "listDatasetsBySchemaId",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "The Act-On account Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "objectId",
            "in": "path",
            "description": "The schema Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error.",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/{accountId}/data/status/{jobId}": {
      "get": {
        "tags": [
          "Custom Data Dataset API"
        ],
        "summary": "Retrieve the status for the Job Id",
        "description": "If complete and not successful, also retrieves the report download endpoint",
        "operationId": "getJobStatus",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "The Act-On account Id for this request",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "jobId",
            "in": "path",
            "description": "The custom object job Id for this request",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error.",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/{accountId}/data/report/{jobId}": {
      "get": {
        "tags": [
          "Custom Data Dataset API"
        ],
        "summary": "Download the report for the provided Job Id",
        "description": "Returns a report for a completed job",
        "operationId": "getJobReport",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "The Act-On account Id for this request",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "jobId",
            "in": "path",
            "description": "The custom object job Id for this request",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error.",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/{accountId}/data/all": {
      "get": {
        "tags": [
          "Custom Data Dataset API"
        ],
        "summary": "Retrieves a list of all datasets for the account",
        "description": "Returns all datasets available for the account",
        "operationId": "listAllDatasets",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "The Act-On account Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/{accountId}/data/{objectId}/{identifier}/ids": {
      "delete": {
        "tags": [
          "Custom Data Dataset API"
        ],
        "summary": "Delete records from a dataset based on the provided IDs or ID range",
        "description": "Delete records from a dataset based on the provided IDs or ID range",
        "operationId": "deleteIds",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "The Act-On account Id for the deletion request",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "objectId",
            "in": "path",
            "description": "The custom object schema Id for the deletion request",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "identifier",
            "in": "path",
            "description": "The custom object dataset Id or name for the deletion request",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteRecordsRequestDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error.",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "HttpErrorResponse": {
        "type": "object",
        "properties": {
          "errorId": {
            "type": "string"
          },
          "requestUri": {
            "type": "string"
          },
          "errorMessage": {
            "type": "string"
          },
          "errorList": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "status": {
            "type": "string",
            "enum": [
              "100 CONTINUE",
              "101 SWITCHING_PROTOCOLS",
              "102 PROCESSING",
              "103 EARLY_HINTS",
              "103 CHECKPOINT",
              "200 OK",
              "201 CREATED",
              "202 ACCEPTED",
              "203 NON_AUTHORITATIVE_INFORMATION",
              "204 NO_CONTENT",
              "205 RESET_CONTENT",
              "206 PARTIAL_CONTENT",
              "207 MULTI_STATUS",
              "208 ALREADY_REPORTED",
              "226 IM_USED",
              "300 MULTIPLE_CHOICES",
              "301 MOVED_PERMANENTLY",
              "302 FOUND",
              "302 MOVED_TEMPORARILY",
              "303 SEE_OTHER",
              "304 NOT_MODIFIED",
              "305 USE_PROXY",
              "307 TEMPORARY_REDIRECT",
              "308 PERMANENT_REDIRECT",
              "400 BAD_REQUEST",
              "401 UNAUTHORIZED",
              "402 PAYMENT_REQUIRED",
              "403 FORBIDDEN",
              "404 NOT_FOUND",
              "405 METHOD_NOT_ALLOWED",
              "406 NOT_ACCEPTABLE",
              "407 PROXY_AUTHENTICATION_REQUIRED",
              "408 REQUEST_TIMEOUT",
              "409 CONFLICT",
              "410 GONE",
              "411 LENGTH_REQUIRED",
              "412 PRECONDITION_FAILED",
              "413 PAYLOAD_TOO_LARGE",
              "413 REQUEST_ENTITY_TOO_LARGE",
              "414 URI_TOO_LONG",
              "414 REQUEST_URI_TOO_LONG",
              "415 UNSUPPORTED_MEDIA_TYPE",
              "416 REQUESTED_RANGE_NOT_SATISFIABLE",
              "417 EXPECTATION_FAILED",
              "418 I_AM_A_TEAPOT",
              "419 INSUFFICIENT_SPACE_ON_RESOURCE",
              "420 METHOD_FAILURE",
              "421 DESTINATION_LOCKED",
              "422 UNPROCESSABLE_ENTITY",
              "423 LOCKED",
              "424 FAILED_DEPENDENCY",
              "425 TOO_EARLY",
              "426 UPGRADE_REQUIRED",
              "428 PRECONDITION_REQUIRED",
              "429 TOO_MANY_REQUESTS",
              "431 REQUEST_HEADER_FIELDS_TOO_LARGE",
              "451 UNAVAILABLE_FOR_LEGAL_REASONS",
              "500 INTERNAL_SERVER_ERROR",
              "501 NOT_IMPLEMENTED",
              "502 BAD_GATEWAY",
              "503 SERVICE_UNAVAILABLE",
              "504 GATEWAY_TIMEOUT",
              "505 HTTP_VERSION_NOT_SUPPORTED",
              "506 VARIANT_ALSO_NEGOTIATES",
              "507 INSUFFICIENT_STORAGE",
              "508 LOOP_DETECTED",
              "509 BANDWIDTH_LIMIT_EXCEEDED",
              "510 NOT_EXTENDED",
              "511 NETWORK_AUTHENTICATION_REQUIRED"
            ]
          }
        }
      },
      "CreateSchemaRequestDTO": {
        "type": "object",
        "description": "The schema creation details",
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of the custom object"
          },
          "description": {
            "type": "string",
            "description": "Description of the custom object"
          },
          "dataType": {
            "type": "string",
            "description": "Data type of the custom object"
          },
          "fields": {
            "type": "array",
            "description": "List of fields in the custom object",
            "items": {
              "$ref": "#/components/schemas/FieldDefinitionDTO"
            }
          },
          "requiredFields": {
            "type": "array",
            "description": "List of required fields in the custom object",
            "items": {
              "type": "string"
            }
          },
          "uniqueFieldSet": {
            "type": "array",
            "description": "List of unique fields in the custom object",
            "items": {
              "type": "string"
            }
          },
          "eventTimestampField": {
            "type": "string",
            "description": "Field name that contains the event timestamp"
          },
          "primaryEmailField": {
            "type": "string",
            "description": "Field name that contains the primary email"
          },
          "externalIdField": {
            "type": "string",
            "description": "Field name that contains the external id"
          },
          "objectTypeField": {
            "type": "string",
            "description": "Field name that contains the object type"
          },
          "relationships": {
            "type": "array",
            "description": "List of relationships of the custom object",
            "items": {
              "$ref": "#/components/schemas/RelationshipDefinitionDTO"
            }
          }
        }
      },
      "FieldDefinitionDTO": {
        "type": "object",
        "description": "A custom object field definition",
        "properties": {
          "id": {
            "type": "string",
            "description": "ID of the field"
          },
          "name": {
            "type": "string",
            "description": "Name of the field"
          },
          "type": {
            "type": "string",
            "description": "Data type of the field"
          },
          "description": {
            "type": "string",
            "description": "Description of the field"
          },
          "displayName": {
            "type": "string",
            "description": "Display name of the field"
          },
          "properties": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Field specific set of properties. Supported properties vary by field type:\nJSON: 'format' (json|base64)\nENUM: 'enumName' (string), 'enumValues' (string), 'enumValuesCaseSensitive' (true|false)\nSTRING_ARRAY: 'CSVSeparator' (comma, semicolon, pipe, or tab)\nDATE: 'format' (date format pattern), 'formatHint' (hint string)\nDATETIME: 'format' (datetime format pattern), 'formatHint' (hint string), 'timezone' (timezone identifier)\nCURRENCY: 'currencyCode' (ISO currency code like USD, EUR, etc.)",
            "example": {
              "timezone": "US/Eastern"
            }
          },
          "extraData": {
            "type": "string",
            "description": "Extra data"
          }
        }
      },
      "RelationshipDefinitionDTO": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "fieldName": {
            "type": "string"
          },
          "fieldValue": {
            "type": "string"
          },
          "otherObject": {
            "type": "string"
          },
          "otherFieldName": {
            "type": "string"
          },
          "otherFieldValue": {
            "type": "string"
          },
          "properties": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          }
        }
      },
      "DataQueryRequestDTO": {
        "type": "object",
        "description": "The data query specification",
        "properties": {
          "otherObject": {
            "type": "string",
            "description": "Locator of the other data source to join with."
          },
          "otherDataset": {
            "type": "string",
            "description": "Optional locator (id, name) of the other data source dataset (if Custom Object) to join with."
          },
          "selectFields": {
            "type": "array",
            "description": "List of fields to select. Must be prefixed with 'aoc.' for Act-On Contacts fields or 'co.' for custom object fields. Use 'aoc.*' or 'co.*' to select all fields from respective source.",
            "items": {
              "type": "string"
            },
            "maxItems": 2000,
            "minItems": 0
          },
          "page": {
            "type": "integer",
            "format": "int32",
            "deprecated": true,
            "description": "Page number (0-based). DEPRECATED: Use pagination object instead.",
            "example": 0
          },
          "size": {
            "type": "integer",
            "format": "int32",
            "deprecated": true,
            "description": "Number of items per page. DEPRECATED: Use pagination object instead.",
            "example": 20
          },
          "pagination": {
            "$ref": "#/components/schemas/PaginationDTO",
            "description": "Pagination information supporting both offset and cursor-based pagination"
          },
          "sortBy": {
            "type": "string",
            "deprecated": true,
            "description": "Sort by field. Reference Act-On Contacts fields by the prefix `aoc.` if they overlap with custom object fields. DEPRECATED: Use sortFields instead for multiple field sorting."
          },
          "sortByDirection": {
            "type": "string",
            "deprecated": true,
            "description": "Sort direction. Either `asc` or `desc`. If anything else no sorting will be applied. DEPRECATED: Use sortFields instead for multiple field sorting."
          },
          "sortFields": {
            "type": "array",
            "description": "List of fields to sort by with their directions. Takes precedence over sortBy/sortByDirection. Each field must be prefixed with 'aoc.' for Act-On Contacts fields or 'co.' for custom object fields.",
            "items": {
              "$ref": "#/components/schemas/SortFieldDTO"
            },
            "maxItems": 10,
            "minItems": 0
          },
          "filterExpression": {
            "type": "string",
            "description": "Filter expression."
          },
          "joinStrategy": {
            "$ref": "#/components/schemas/JoinStrategyDTO",
            "description": "Join strategy."
          },
          "searchTerm": {
            "type": "string",
            "description": "Search term."
          },
          "datetimeFieldsTimezone": {
            "type": "string",
            "description": "Override timezone for all DATETIME fields in the query. Must be a valid timezone identifier (e.g., 'US/Eastern', 'Europe/London', 'UTC'). If specified, this overrides both account-level and field-level timezone settings."
          }
        }
      },
      "JoinStrategyDTO": {
        "type": "object",
        "description": "Configuration for join operations between Act-On Contacts and Custom Objects",
        "properties": {
          "useDefaults": {
            "type": "boolean",
            "description": "When set to true, other parameters are ignored and the defaults are used based on the relationship type of the custom object. Defaults to false"
          },
          "joinEnabled": {
            "type": "boolean",
            "description": "Enable or disable join with other data. Defaults to true"
          },
          "onlyMatching": {
            "type": "boolean",
            "description": "If true, only matching records will be joined. Defaults to false"
          },
          "duplicates": {
            "type": "string",
            "description": "Strategy for handling duplicates. If not provided, defaults to 'noJoinFieldsDuplicates for Custom Objects with 'one-to-one' relationship and 'noActOnContactsJoinFieldsDuplicates' for 'one-to-many' relationship",
            "enum": [
              "allow",
              "noOtherJoinFieldsDuplicates",
              "noBaseJoinFieldsDuplicates",
              "noJoinFieldsDuplicates"
            ]
          },
          "otherOrderByField": {
            "type": "string",
            "description": "Field name to order joined data by. If not provided, defaults to 'updatedDate'",
            "example": "updatedDate"
          },
          "otherSelector": {
            "type": "string",
            "description": "Selection strategy for joined data when duplicates exist. If not provided, defaults to 'last'",
            "enum": [
              "first",
              "last"
            ]
          },
          "baseOrderByField": {
            "type": "string",
            "description": "Field name to order base data by. If not provided, defaults to 'sys.createdAt'",
            "example": "sys.createdAt"
          },
          "baseSelector": {
            "type": "string",
            "description": "Selection strategy for the base data when duplicates exist. If not provided, defaults to 'last'",
            "enum": [
              "first",
              "last"
            ]
          }
        }
      },
      "PaginationDTO": {
        "type": "object",
        "description": "Pagination information for data query requests",
        "properties": {
          "page": {
            "type": "integer",
            "format": "int32",
            "description": "Page number (0-based) for offset-based pagination",
            "example": 0
          },
          "size": {
            "type": "integer",
            "format": "int32",
            "description": "Number of items per page",
            "example": 20
          },
          "nextPageToken": {
            "type": "string",
            "description": "Token for cursor-based pagination. Use null or omit for the first page."
          },
          "pageStrategy": {
            "type": "string",
            "description": "Pagination strategy to use. Defaults to OFFSET if not specified.",
            "enum": [
              "OFFSET",
              "CURSOR"
            ]
          }
        }
      },
      "SortFieldDTO": {
        "type": "object",
        "description": "Sort field configuration",
        "properties": {
          "field": {
            "type": "string",
            "description": "Field name to sort by. Must be prefixed with 'aoc.' for Act-On Contacts fields or 'co.' for custom object fields.",
            "example": "aoc.email"
          },
          "direction": {
            "type": "string",
            "default": "asc",
            "description": "Sort direction",
            "enum": [
              "asc",
              "desc"
            ],
            "example": "asc"
          }
        },
        "required": [
          "field"
        ]
      },
      "CreateDatasetRequestDTO": {
        "type": "object",
        "description": "The dataset creation details",
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of the dataset"
          },
          "description": {
            "type": "string",
            "description": "Description of the dataset"
          },
          "isDefault": {
            "type": "boolean",
            "description": "Whether to set the dataset as the default for the custom object"
          }
        }
      },
      "UpdateDatasetRequestDTO": {
        "type": "object",
        "description": "The dataset update details",
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of the dataset"
          },
          "description": {
            "type": "string",
            "description": "Description of the dataset"
          },
          "isDefault": {
            "type": "boolean",
            "description": "Whether to set the dataset as the default for the custom object"
          }
        }
      },
      "ValidationRequestDTO": {
        "type": "object",
        "description": "The validation request details",
        "properties": {
          "file": {
            "type": "string",
            "format": "binary",
            "description": "The file to validate."
          },
          "fileType": {
            "type": "string",
            "description": "The type of file being ingested. Either csv or json. Default is csv."
          }
        },
        "required": [
          "file"
        ]
      },
      "DeleteRecordsRequestDTO": {
        "type": "object",
        "description": "The record deletion details",
        "properties": {
          "ids": {
            "type": "string",
            "description": "One or more unique identifiers for the records to delete separated by comas"
          },
          "firstId": {
            "type": "string",
            "description": "The first unique identifier for a range of records to delete"
          },
          "lastId": {
            "type": "string",
            "description": "The last unique identifier for a range of records to delete"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  },
  "x-readme": {}
}