{
  "openapi": "3.1.0",
  "info": {
    "title": "act-on-api-1",
    "version": "2.0"
  },
  "servers": [
    {
      "url": "https://api.actonsoftware.com"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "x-bearer-format": "bearer"
      }
    }
  },
  "security": [
    {
      "sec0": []
    }
  ],
  "paths": {
    "/api/1/user/{email}": {
      "delete": {
        "summary": "Delete account user",
        "description": "Delete one user from an account.",
        "operationId": "delete-account-user",
        "parameters": [
          {
            "name": "email",
            "in": "path",
            "description": "Enter the email address of the user",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Successful Response": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/1/account/senders": {
      "get": {
        "summary": "Get defined email senders",
        "description": "Get a list of all defined email senders for the account.",
        "operationId": "get-defined-email-senders",
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Successful Response": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/1/customevents": {
      "post": {
        "summary": "Upload custom events",
        "description": "Upload a set of custom events with a simple HTTP POST to the Fact API.",
        "operationId": "upload-custom-events",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "destination": {
                    "type": "string",
                    "description": "Specify a unique name for the custom event."
                  },
                  "fieldseparator": {
                    "type": "string",
                    "description": "Set field separator character (\"TAB\", \"COMMA\", \"SEMICOLON\", \"SPACE\" )"
                  },
                  "quotecharacter": {
                    "type": "string",
                    "description": "Set field quote character (\"NONE\", \"SINGLE_QUOTE\", \"DOUBLE_QUOTE\")"
                  },
                  "firstrow": {
                    "type": "string",
                    "description": "Does the first row of the source data contain a heading? (\"Y\",\"N\")"
                  },
                  "customeventaction": {
                    "type": "string",
                    "description": "Set the event type of the custom event. (\"CUSTOM_DOWNLOADED\", \"CUSTOM_REGISTERED\", \"CUSTOM_ATTENDED\", \"CUSTOM_GENERAL\", \"CUSTOM_GENERAL1\", \"CUSTOM_GENERAL2\", \"CUSTOM_GENERAL3\", \"CUSTOM_GENERAL4\", \"CUSTOM_GENERAL5\")"
                  },
                  "emailcolidx": {
                    "type": "string",
                    "description": "Column index (zero-based) for email in the source file."
                  },
                  "datecolidx": {
                    "type": "string",
                    "description": "Column index (zero-based) for the date for the custom event in the source file."
                  },
                  "titlecolidx": {
                    "type": "string",
                    "description": "Column index (zero-based) for the event title for the custom event in the source file."
                  },
                  "dateformat": {
                    "type": "string",
                    "description": "dateformat Examples: <p>   SLASH FORMATS: MM/dd/yyyy (01/25/2023) dd/MM/yyyy (25/01/2023) MM/dd/yy (01/25/2023) dd/MM/yy (01/25/23) yyyy/MM/dd (2023/01/25) </p> <p>DASH FORMATS: MM-dd-yyyy (01-25-2023) dd-MM-yyyy (25-01-2023) MM-dd-yy (01-25-2023) dd-MM-yy (01-25-23) yyyy-MM-dd (2023-01-25)   </p>  <p> TEXTUAL MONTH: dd MMM yyyy (25 Jan 2032) MMM dd yyyy (Jan 25 2023) dd MMMM yyyy (25 Jaunuary 2023) EEE, dd MMM yyyy (Tue, 25 Jan 2023) EEEE, dd MMMM yyyy (Tuesday, 25 January 2023) </p>"
                  },
                  "filename": {
                    "type": "string"
                  },
                  "notecolidx": {
                    "type": "string",
                    "description": "Column index (zero-based) for an optional note from the source file."
                  },
                  "titlecount": {
                    "type": "string",
                    "description": "Set the number of new titles you expect to add from the source file. There's no need to count existing titles already within the custom touch event"
                  },
                  "File": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Successful Response": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/1/customevents/{id}/status": {
      "get": {
        "summary": "Get upload custom event status",
        "description": "Get the status of a custom event upload a simple HTTP GET to the Fact & Reporting API",
        "operationId": "get-upload-custom-event-status",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The jobId returned from the \"Upload Custom Event\" request.",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Successful Response": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/1/logo": {
      "get": {
        "summary": "Get logo list",
        "description": "Get a list of the logos in the account.",
        "operationId": "get-logo-list",
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Successful Response": {
                    "value": "{\n  \"offset\": 0,\n  \"count\": 1,\n  \"totalCount\": 1,\n  \"result\": [\n    {\n      \"url_str\": \"https://forpci4.actonsoftware.com/acton/cx/b522/logo5.jpeg\",\n      \"url_str_ts\": \"https://forpci4.actonsoftware.com/acton/cx/b522/logo5.jpeg?ts=1725501381852\",\n      \"alt_txt\": \"Act-On Logo\",\n      \"tool_tip\": \"Act-On\",\n      \"target_url\": \"https://www.act-on.com/\",\n      \"id\": \"i-4\",\n      \"title\": \"Act-On Logo\"\n    }\n  ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "offset": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "count": {
                      "type": "integer",
                      "example": 1,
                      "default": 0
                    },
                    "totalCount": {
                      "type": "integer",
                      "example": 1,
                      "default": 0
                    },
                    "result": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "url_str": {
                            "type": "string",
                            "example": "https://forpci4.actonsoftware.com/acton/cx/b522/logo5.jpeg"
                          },
                          "url_str_ts": {
                            "type": "string",
                            "example": "https://forpci4.actonsoftware.com/acton/cx/b522/logo5.jpeg?ts=1725501381852"
                          },
                          "alt_txt": {
                            "type": "string",
                            "example": "Act-On Logo"
                          },
                          "tool_tip": {
                            "type": "string",
                            "example": "Act-On"
                          },
                          "target_url": {
                            "type": "string",
                            "example": "https://www.act-on.com/"
                          },
                          "id": {
                            "type": "string",
                            "example": "i-4"
                          },
                          "title": {
                            "type": "string",
                            "example": "Act-On Logo"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "post": {
        "summary": "Add a logo",
        "description": "Add a logo image file or URL to your account.",
        "operationId": "add-a-logo",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Specify a name for the image"
                  },
                  "alttext": {
                    "type": "string",
                    "description": "Specify the alternative text for the image"
                  },
                  "tooltip": {
                    "type": "string",
                    "description": "Specify the text to display when hovering over the image"
                  },
                  "targeturl": {
                    "type": "string",
                    "description": "Specify the target URL for the image."
                  },
                  "file": {
                    "type": "string",
                    "description": "Attach the image file",
                    "format": "binary"
                  },
                  "imagelink": {
                    "type": "string",
                    "description": "Specify the link to the image file."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Successful Response": {
                    "value": "{\n    \"status\": \"success\",\n    \"message\": \"The logo has been uploaded\",\n    \"id\": \"i-6\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "message": {
                      "type": "string",
                      "example": "The logo has been uploaded"
                    },
                    "id": {
                      "type": "string",
                      "example": "i-6"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Invalid File Type": {
                    "value": "{\n    \"errorCode\": 10085,\n    \"message\": \"Invalid file type specified\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorCode": {
                      "type": "integer",
                      "example": 10085,
                      "default": 0
                    },
                    "message": {
                      "type": "string",
                      "example": "Invalid file type specified"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "422",
            "content": {
              "application/json": {
                "examples": {
                  "Missing Parameters": {
                    "value": "{\n    \"errorCode\": 10121,\n    \"message\": \"Missing parameter - name\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorCode": {
                      "type": "integer",
                      "example": 10121,
                      "default": 0
                    },
                    "message": {
                      "type": "string",
                      "example": "Missing parameter - name"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/1/logo/{id}": {
      "get": {
        "summary": "Get a logo",
        "description": "Gets the specified logo from your account.",
        "operationId": "get-a-logo",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Specify the ID of the logo",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Successful response": {
                    "value": "{\n  \"url_str\": \"https://forpci4.actonsoftware.com/acton/cx/b522/logo5.jpeg\",\n  \"url_str_ts\": \"https://forpci4.actonsoftware.com/acton/cx/b522/logo5.jpeg?ts=1725503918599\",\n  \"alt_txt\": \"Act-On Logo\",\n  \"tool_tip\": \"Act-On\",\n  \"target_url\": \"https://www.act-on.com/\",\n  \"id\": \"i-4\",\n  \"title\": \"Act-On Logo\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "url_str": {
                      "type": "string",
                      "example": "https://forpci4.actonsoftware.com/acton/cx/b522/logo5.jpeg"
                    },
                    "url_str_ts": {
                      "type": "string",
                      "example": "https://forpci4.actonsoftware.com/acton/cx/b522/logo5.jpeg?ts=1725503918599"
                    },
                    "alt_txt": {
                      "type": "string",
                      "example": "Act-On Logo"
                    },
                    "tool_tip": {
                      "type": "string",
                      "example": "Act-On"
                    },
                    "target_url": {
                      "type": "string",
                      "example": "https://www.act-on.com/"
                    },
                    "id": {
                      "type": "string",
                      "example": "i-4"
                    },
                    "title": {
                      "type": "string",
                      "example": "Act-On Logo"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "examples": {
                  "Invalid ID": {
                    "value": "{\n  \"errorCode\": 10054,\n  \"message\": \"The id is invalid\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorCode": {
                      "type": "integer",
                      "example": 10054,
                      "default": 0
                    },
                    "message": {
                      "type": "string",
                      "example": "The id is invalid"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "put": {
        "summary": "Update a logo",
        "description": "Updates the information for an existing logo in your logo repository.",
        "operationId": "update-a-logo",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Specify the ID of the logo",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Specify a name for the image."
                  },
                  "alttext": {
                    "type": "string",
                    "description": "Specify the alternative text for the image."
                  },
                  "tooltip": {
                    "type": "string",
                    "description": "Specify the text to display when hovering over the image."
                  },
                  "targeturl": {
                    "type": "string",
                    "description": "Specify the target URL for the image."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Successful Response": {
                    "value": "{\n    \"status\": \"success\",\n    \"message\": \"The logo has been updated\",\n    \"id\": \"i-5\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "message": {
                      "type": "string",
                      "example": "The logo has been updated"
                    },
                    "id": {
                      "type": "string",
                      "example": "i-5"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Invalid ID": {
                    "value": "{\n    \"errorCode\": 10054,\n    \"message\": \"The id is invalid\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorCode": {
                      "type": "integer",
                      "example": 10054,
                      "default": 0
                    },
                    "message": {
                      "type": "string",
                      "example": "The id is invalid"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "delete": {
        "summary": "Delete a logo",
        "description": "Delete the specified logo from your account.",
        "operationId": "delete-a-logo",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Specify the ID of the logo",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Successful Response": {
                    "value": "{\n    \"status\": \"success\",\n    \"message\": \"Logo i-4 has been deleted\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "message": {
                      "type": "string",
                      "example": "Logo i-4 has been deleted"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"errorCode\": 10054,\n    \"message\": \"The id is invalid\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorCode": {
                      "type": "integer",
                      "example": 10054,
                      "default": 0
                    },
                    "message": {
                      "type": "string",
                      "example": "The id is invalid"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/1/header": {
      "get": {
        "summary": "Get header list",
        "description": "Get a list of headers in the account.",
        "operationId": "get-header-list",
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Successful Response": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/1/header/{id}": {
      "get": {
        "summary": "Get a header",
        "description": "Get the specified header from your account.",
        "operationId": "get-a-header",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Specify the ID of the header",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Successful Response": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "put": {
        "summary": "Update a header",
        "description": "Update the specified header.",
        "operationId": "update-a-header",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Specify the ID of the header",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string",
                    "description": "Name of Header"
                  },
                  "html": {
                    "type": "string",
                    "description": "Content of HTML version"
                  },
                  "text": {
                    "type": "string",
                    "description": "Content of plain text version"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Successful  Response": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "delete": {
        "summary": "Delete a header",
        "description": "Delete the specified header from your account.",
        "operationId": "delete-a-header",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Specify the ID of the header",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Successful Response": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/1/header/": {
      "post": {
        "summary": "Add a header",
        "description": "Add a new header to your account.",
        "operationId": "add-a-header",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string",
                    "description": "Header Name"
                  },
                  "html": {
                    "type": "string",
                    "description": "Contents of HTML version of header"
                  },
                  "text": {
                    "type": "string",
                    "description": "Contents of plain text version of header"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Successful Response": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/1/footer": {
      "get": {
        "summary": "Get footer list",
        "description": "Get a list of footers in your account.",
        "operationId": "get-footer-list",
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Successful Response": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/1/footer/{id}": {
      "get": {
        "summary": "Get a footer",
        "description": "Get the specified footer by ID. Act-On assigns integer IDs to footers in numerical order when added, starting with the default footer with ID of 0 at account initiation.",
        "operationId": "get-a-footer",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Specify the ID of the footer",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Successful Response": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "delete": {
        "summary": "Delete a footer",
        "description": "Delete an existing footer from the account.",
        "operationId": "delete-a-footer",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Specify the ID of the footer to be deleted",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Successful Response": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "put": {
        "summary": "Update a footer",
        "description": "Update an existing footer in the account.",
        "operationId": "update-a-footer",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Specify the ID of the footer",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string",
                    "description": "Name of Footer"
                  },
                  "html": {
                    "type": "string",
                    "description": "Specify valid HTML for the footer."
                  },
                  "text": {
                    "type": "string",
                    "description": "Specify the text version of the footer."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Successful Response": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/1/footer/": {
      "post": {
        "summary": "Add a new footer",
        "description": "Add a new footer to your account. To view default formatting for footers, use the Get footer list API. The default footer (id 0) contains standard elements that you might want to re-use while creating a new footer. <p>When you add a new footer, Act-On automatically assigns an id. You can, however, assign a meaningful footer title of your choosing.</p> <p>NOTE: the request must be URL form encoded.</p>",
        "operationId": "add-a-new-footer",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string",
                    "description": "Name of footer"
                  },
                  "html": {
                    "type": "string",
                    "description": "Content of HTML version"
                  },
                  "text": {
                    "type": "string",
                    "description": "Content of plain text version"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Successful Response": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/1/image": {
      "get": {
        "summary": "Get image list",
        "description": "Get a list of the images in your account.",
        "operationId": "get-image-list",
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Successful Response": {
                    "value": "[\n  {\n    \"entries\": [\n      {\n        \"creation_time\": \"1725391646761\",\n        \"size\": 2728719,\n        \"thumb\": \"http://a46370.actonservice.com/cdnr/forpci4/acton/attachment/46370/f-745b73d6-234d-4082-90ed-f0071c51fa36/1/-/-/-/-/image.jpg\",\n        \"name\": \"Cell Phone Call.jpg\",\n        \"width\": \"2500\",\n        \"id\": \"f-745b73d6-234d-4082-90ed-f0071c51fa36\",\n        \"last_modified\": \"1725391646769\",\n        \"url\": \"http://a46370.actonservice.com/cdnr/forpci4/acton/attachment/46370/f-745b73d6-234d-4082-90ed-f0071c51fa36/1/-/-/-/-/image.jpg\",\n        \"height\": \"2500\"\n      }\n    ],\n    \"name\": \"Default Folder\"\n  }\n]"
                  }
                },
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "entries": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "creation_time": {
                              "type": "string",
                              "example": "1725391646761"
                            },
                            "size": {
                              "type": "integer",
                              "example": 2728719,
                              "default": 0
                            },
                            "thumb": {
                              "type": "string",
                              "example": "http://a46370.actonservice.com/cdnr/forpci4/acton/attachment/46370/f-745b73d6-234d-4082-90ed-f0071c51fa36/1/-/-/-/-/image.jpg"
                            },
                            "name": {
                              "type": "string",
                              "example": "Cell Phone Call.jpg"
                            },
                            "width": {
                              "type": "string",
                              "example": "2500"
                            },
                            "id": {
                              "type": "string",
                              "example": "f-745b73d6-234d-4082-90ed-f0071c51fa36"
                            },
                            "last_modified": {
                              "type": "string",
                              "example": "1725391646769"
                            },
                            "url": {
                              "type": "string",
                              "example": "http://a46370.actonservice.com/cdnr/forpci4/acton/attachment/46370/f-745b73d6-234d-4082-90ed-f0071c51fa36/1/-/-/-/-/image.jpg"
                            },
                            "height": {
                              "type": "string",
                              "example": "2500"
                            }
                          }
                        }
                      },
                      "name": {
                        "type": "string",
                        "example": "Default Folder"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "post": {
        "summary": "Add an image",
        "description": "Add a new image to your account. <p>NOTE: This is a \"multipart/form-data\" post.</p>",
        "operationId": "add-an-image",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Specify a name for the image"
                  },
                  "file": {
                    "type": "string",
                    "format": "binary"
                  },
                  "foldername": {
                    "type": "string",
                    "description": "Specify the foler name you would like the image to be added to"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Successful Response": {
                    "value": "{}{\n    \"status\": \"success\",\n    \"message\": \"The file has been uploaded\",\n    \"id\": \"f-b9305f9e-f90c-416e-b609-51ccffebbb40\"\n}"
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Invalid file Type": {
                    "value": "{\n    \"errorCode\": 10085,\n    \"message\": \"Invalid file type specified\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorCode": {
                      "type": "integer",
                      "example": 10085,
                      "default": 0
                    },
                    "message": {
                      "type": "string",
                      "example": "Invalid file type specified"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/1/image/{id}": {
      "get": {
        "summary": "Get an image",
        "description": "Get the image, specified by Act-On id, from the account. To obtain a list of all images in the account the associated ids, use Get image list.",
        "operationId": "get-an-image",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Specify the ID of the image",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Successful Response": {
                    "value": "{\n  \"id\": \"f-745b73d6-234d-4082-90ed-f0071c51fa36\",\n  \"image_url\": \"http://a46370.actonservice.com/cdnr/forpci4/acton/attachment/46370/f-745b73d6-234d-4082-90ed-f0071c51fa36/1/-/-/-/-/image.jpg\",\n  \"thumb_url\": \"http://a46370.actonservice.com/cdnr/forpci4/acton/attachment/46370/f-745b73d6-234d-4082-90ed-f0071c51fa36/1/-/-/-/-/image.jpg\",\n  \"size\": 2728719,\n  \"last_modified\": 1725391646769,\n  \"creation_time\": 1725391646761,\n  \"display_name\": \"Cell Phone Call.jpg\",\n  \"folder_name\": \"Default Folder\",\n  \"version\": 0\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "f-745b73d6-234d-4082-90ed-f0071c51fa36"
                    },
                    "image_url": {
                      "type": "string",
                      "example": "http://a46370.actonservice.com/cdnr/forpci4/acton/attachment/46370/f-745b73d6-234d-4082-90ed-f0071c51fa36/1/-/-/-/-/image.jpg"
                    },
                    "thumb_url": {
                      "type": "string",
                      "example": "http://a46370.actonservice.com/cdnr/forpci4/acton/attachment/46370/f-745b73d6-234d-4082-90ed-f0071c51fa36/1/-/-/-/-/image.jpg"
                    },
                    "size": {
                      "type": "integer",
                      "example": 2728719,
                      "default": 0
                    },
                    "last_modified": {
                      "type": "integer",
                      "example": 1725391646769,
                      "default": 0
                    },
                    "creation_time": {
                      "type": "integer",
                      "example": 1725391646761,
                      "default": 0
                    },
                    "display_name": {
                      "type": "string",
                      "example": "Cell Phone Call.jpg"
                    },
                    "folder_name": {
                      "type": "string",
                      "example": "Default Folder"
                    },
                    "version": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "put": {
        "summary": "Update an image",
        "description": "Replace an existing image in the image repository.",
        "operationId": "update-an-image",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Specify the ID of the image",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "foldername": {
                    "type": "string",
                    "description": "Specify the folder name you would like the image added. If the image does not exist in the specified folder a new image will be uploaded to the specified folder."
                  },
                  "file": {
                    "type": "string",
                    "format": "binary"
                  },
                  "ignorefolder": {
                    "type": "string",
                    "description": "Do you want to ignore the foldername parameter? (\"Y\")"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Successful Response": {
                    "value": "{}{\n    \"status\": \"success\",\n    \"message\": \"The file has been uploaded\",\n    \"id\": \"f-b9305f9e-f90c-416e-b609-51ccffebbb40\"\n}"
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "delete": {
        "summary": "Delete an image",
        "description": "Delete an image (by id) from your account. To obtain a list of all images in the account the associated ids, use Get image list",
        "operationId": "delete-an-image",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Specify the ID of the image",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Successful Response": {
                    "value": "{\n    \"status\": \"success\",\n    \"message\": \"File deleted\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "message": {
                      "type": "string",
                      "example": "File deleted"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"errorCode\": 10054,\n    \"message\": \"The id is invalid\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorCode": {
                      "type": "integer",
                      "example": 10054,
                      "default": 0
                    },
                    "message": {
                      "type": "string",
                      "example": "The id is invalid"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/1/media/": {
      "get": {
        "summary": "Get media list",
        "description": "Get a listing of media objects stored in your account.",
        "operationId": "get-media-list",
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Successful Response": {
                    "value": "[\n  {\n    \"entries\": [\n      {\n        \"creation_time\": 1725391860093,\n        \"size\": \"50347\",\n        \"name\": \"Act-On Datasheet.pdf\",\n        \"id\": \"f-0834c389-f245-4abe-ae05-423b51901d26\",\n        \"last_modified\": \"1725391860093\",\n        \"url\": \"https://a46370.actonservice.com/cdnr/forpci4/acton/attachment/46370/f-0834c389-f245-4abe-ae05-423b51901d26/1/-/-/-/-/file.pdf\"\n      },\n      {\n        \"creation_time\": 1725391925531,\n        \"target_url\": \"https://connect.act-on.com/hc/en-us\",\n        \"name\": \"Act-On Help Center\",\n        \"id\": \"u-f98236a7-ad2a-4ee3-bd91-afd835ff60c5\",\n        \"last_modified\": \"1725391925536\",\n        \"url\": \"https://a46370.actonservice.com/cdnr/forpci4/acton/attachment/46370/u-f98236a7-ad2a-4ee3-bd91-afd835ff60c5/1/-/-/-/-/file.bin\"\n      }\n    ],\n    \"name\": \"Default Folder\"\n  }\n]"
                  }
                },
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "entries": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "creation_time": {
                              "type": "integer",
                              "example": 1725391860093,
                              "default": 0
                            },
                            "size": {
                              "type": "string",
                              "example": "50347"
                            },
                            "name": {
                              "type": "string",
                              "example": "Act-On Datasheet.pdf"
                            },
                            "id": {
                              "type": "string",
                              "example": "f-0834c389-f245-4abe-ae05-423b51901d26"
                            },
                            "last_modified": {
                              "type": "string",
                              "example": "1725391860093"
                            },
                            "url": {
                              "type": "string",
                              "example": "https://a46370.actonservice.com/cdnr/forpci4/acton/attachment/46370/f-0834c389-f245-4abe-ae05-423b51901d26/1/-/-/-/-/file.pdf"
                            }
                          }
                        }
                      },
                      "name": {
                        "type": "string",
                        "example": "Default Folder"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/1/media/{id}": {
      "get": {
        "summary": "Get media file",
        "description": "Gets a path to the specified media file that was previously added to your account.",
        "operationId": "get-media-file",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Specify the ID of the media file",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Successful Response": {
                    "value": "{\n  \"id\": \"u-f98236a7-ad2a-4ee3-bd91-afd835ff60c5\",\n  \"name\": \"Act-On Help Center\",\n  \"url\": \"https://a46370.actonservice.com/cdnr/forpci4/acton/attachment/46370/u-f98236a7-ad2a-4ee3-bd91-afd835ff60c5/1/-/-/-/-/\",\n  \"target_url\": \"https://connect.act-on.com/hc/en-us\",\n  \"creation_time\": 1725391925531,\n  \"last_modified\": 1725391925536\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "u-f98236a7-ad2a-4ee3-bd91-afd835ff60c5"
                    },
                    "name": {
                      "type": "string",
                      "example": "Act-On Help Center"
                    },
                    "url": {
                      "type": "string",
                      "example": "https://a46370.actonservice.com/cdnr/forpci4/acton/attachment/46370/u-f98236a7-ad2a-4ee3-bd91-afd835ff60c5/1/-/-/-/-/"
                    },
                    "target_url": {
                      "type": "string",
                      "example": "https://connect.act-on.com/hc/en-us"
                    },
                    "creation_time": {
                      "type": "integer",
                      "example": 1725391925531,
                      "default": 0
                    },
                    "last_modified": {
                      "type": "integer",
                      "example": 1725391925536,
                      "default": 0
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "put": {
        "summary": "Update Media File",
        "description": "Update/replace an existing media file in your account.",
        "operationId": "update-media-file",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Specify the ID of the media file",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "File": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Successful Response": {
                    "value": "{\n    \"status\": \"success\",\n    \"message\": \"The file has been uploaded\",\n    \"id\": \"f-57166120-ccf5-4a60-95f9-8fef8b6dae0d\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "message": {
                      "type": "string",
                      "example": "The file has been uploaded"
                    },
                    "id": {
                      "type": "string",
                      "example": "f-57166120-ccf5-4a60-95f9-8fef8b6dae0d"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Invalid file type": {
                    "value": "{\n    \"errorCode\": 10085,\n    \"message\": \"Invalid file type specified\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorCode": {
                      "type": "integer",
                      "example": 10085,
                      "default": 0
                    },
                    "message": {
                      "type": "string",
                      "example": "Invalid file type specified"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "delete": {
        "summary": "Delete a media object",
        "description": "Delete a media file from your account.",
        "operationId": "delete-a-media-object",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The id of the media object you want to delete",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Successful Response": {
                    "value": "{\n    \"status\": \"success\",\n    \"message\": \"File deleted\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "message": {
                      "type": "string",
                      "example": "File deleted"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "examples": {
                  "Invalid ID": {
                    "value": "{\n    \"errorCode\": 10054,\n    \"message\": \"The id is invalid\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorCode": {
                      "type": "integer",
                      "example": 10054,
                      "default": 0
                    },
                    "message": {
                      "type": "string",
                      "example": "The id is invalid"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/1/media": {
      "post": {
        "summary": "Add a media file",
        "description": "Add a media file to your account.",
        "operationId": "add-a-media-file",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Specify a name for the file (Must not contain slashes)"
                  },
                  "file": {
                    "type": "string",
                    "description": "Valid media types: zip, doc, docx, xls, xlsx, ppt, pptx, pps, ppsx, txt, vcs, ics, dwg, rfa.",
                    "format": "binary"
                  },
                  "foldername": {
                    "type": "string",
                    "description": "Specify the folder name you would like the media added to"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"status\": \"success\",\n    \"message\": \"The file has been uploaded\",\n    \"id\": \"f-c8a0eb49-8337-4d2b-a1ec-dcdc6096091c\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "message": {
                      "type": "string",
                      "example": "The file has been uploaded"
                    },
                    "id": {
                      "type": "string",
                      "example": "f-c8a0eb49-8337-4d2b-a1ec-dcdc6096091c"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "403",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"errorCode\": 10085,\n    \"message\": \"Invalid file type specified\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorCode": {
                      "type": "integer",
                      "example": 10085,
                      "default": 0
                    },
                    "message": {
                      "type": "string",
                      "example": "Invalid file type specified"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/1/medialink": {
      "post": {
        "summary": "Add a media link",
        "description": "Add a new URL as a trackable link in your media library. <p>NOTE: This is a \"x-www-form-urlencoded\" post </p>",
        "operationId": "add-a-media-link",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "description": "Specify the source URL"
                  },
                  "foldername": {
                    "type": "string",
                    "description": "Specify the folder name you would like the media file added to"
                  },
                  "name": {
                    "type": "string",
                    "description": "Specify a name for the media link"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}{\n    \"status\": \"success\",\n    \"message\": \"URL saved\",\n    \"id\": \"u-df790230-6e79-4ac3-b8f5-c1bb8ee5022e\"\n}"
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"errorCode\": 90004,\n    \"message\": \"Empty or improperly formatted URL given\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorCode": {
                      "type": "integer",
                      "example": 90004,
                      "default": 0
                    },
                    "message": {
                      "type": "string",
                      "example": "Empty or improperly formatted URL given"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/1/form": {
      "get": {
        "summary": "Get form list",
        "description": "Get a list of the forms in your Forms repository.",
        "operationId": "get-form-list",
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Successful Response": {
                    "value": "[\n    {\n        \"entries\": [\n            {\n                \"creation_time\": 1725627913726,\n                \"description\": \"\",\n                \"modified\": 1725654011570,\n                \"id\": \"6a4a21fb-0aff-4f0e-b57a-97f62ebcb9cd\",\n                \"title\": \"Newsletter Signup\",\n                \"url\": \"https://a46370.actonservice.com/acton/form/46370/6a4a21fb-0aff-4f0e-b57a-97f62ebcb9cd:d-0001/1/-/-/-/-/index.htm\"\n            }\n        ],\n        \"folder\": \"Default Folder\"\n    },\n    {\n        \"entries\": [\n            {\n                \"creation_time\": 1725627913726,\n                \"description\": \"\",\n                \"modified\": 1725654011570,\n                \"id\": \"6a4a21fb-0aff-4f0e-b57a-97f62ebcb9cd\",\n                \"title\": \"Newsletter Signup\",\n                \"url\": \"https://a46370.actonservice.com/acton/form/46370/6a4a21fb-0aff-4f0e-b57a-97f62ebcb9cd:d-0001/1/-/-/-/-/index.htm\"\n            }\n        ],\n        \"folder\": \"All Forms\"\n    }\n]"
                  }
                },
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "entries": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "creation_time": {
                              "type": "integer",
                              "example": 1725627913726,
                              "default": 0
                            },
                            "description": {
                              "type": "string",
                              "example": ""
                            },
                            "modified": {
                              "type": "integer",
                              "example": 1725654011570,
                              "default": 0
                            },
                            "id": {
                              "type": "string",
                              "example": "6a4a21fb-0aff-4f0e-b57a-97f62ebcb9cd"
                            },
                            "title": {
                              "type": "string",
                              "example": "Newsletter Signup"
                            },
                            "url": {
                              "type": "string",
                              "example": "https://a46370.actonservice.com/acton/form/46370/6a4a21fb-0aff-4f0e-b57a-97f62ebcb9cd:d-0001/1/-/-/-/-/index.htm"
                            }
                          }
                        }
                      },
                      "folder": {
                        "type": "string",
                        "example": "Default Folder"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/1/form/{id}/urls": {
      "get": {
        "summary": "Get classic form URLs",
        "description": "Get the promotional URLs associated with the specified form, by form ID. To get a listing of forms in an account with their associated IDs, use the Get Forms List API.",
        "operationId": "get-classic-form-urls",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Specify the ID of the classic form",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/1/page": {
      "get": {
        "summary": "Get landing page list",
        "description": "Get a list of pages in the account.",
        "operationId": "get-landing-page-list",
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Successful Response": {
                    "value": "[\n    {\n        \"entries\": [\n            {\n                \"creation_time\": \"1725654093747\",\n                \"modified\": \"1725654172965\",\n                \"id\": \"p-0001\",\n                \"title\": \"Signup for our Monthly Newsletter\",\n                \"url\": \"https://a46370.actonservice.com/acton/fs/blocks/showLandingPage/a/46370/p/p-0001/t/page/fm/0\"\n            }\n        ],\n        \"folder\": \"Default Folder\"\n    }\n]"
                  }
                },
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "entries": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "creation_time": {
                              "type": "string",
                              "example": "1725654093747"
                            },
                            "modified": {
                              "type": "string",
                              "example": "1725654172965"
                            },
                            "id": {
                              "type": "string",
                              "example": "p-0001"
                            },
                            "title": {
                              "type": "string",
                              "example": "Signup for our Monthly Newsletter"
                            },
                            "url": {
                              "type": "string",
                              "example": "https://a46370.actonservice.com/acton/fs/blocks/showLandingPage/a/46370/p/p-0001/t/page/fm/0"
                            }
                          }
                        }
                      },
                      "folder": {
                        "type": "string",
                        "example": "Default Folder"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/1/page/{id}": {
      "get": {
        "summary": "Get landing page",
        "description": "",
        "operationId": "get-landing-page",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Specify the ID of the landing page",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "delete": {
        "summary": "Delete landing page",
        "description": "Delete a page",
        "operationId": "delete-landing-page",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Specify the ID of the landing page",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/1/page/{id}/urls": {
      "get": {
        "summary": "Get landing page URLs",
        "description": "Get the URLs for the specified promotional page.",
        "operationId": "get-landing-page-urls",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Specify the ID of the landing page.",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/1/program": {
      "get": {
        "summary": "Get list of programs",
        "description": "Get a list of all programs of a specified type.",
        "operationId": "get-list-of-programs",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "description": "Specify the type of program you would like returned. (\"TRACK\" for automated programs, \"EVENT\" for webinars, \"LIST_MAINT\" for list maintenance)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/1/message/{id}/report": {
      "get": {
        "summary": "Get message report",
        "description": "Get a report on the specified message.",
        "operationId": "get-message-report",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Specify the ID of the message",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"status\": \"ok\",\n    \"sent\": 2,\n    \"delivered\": 2,\n    \"bounced\": 0,\n    \"hardBounced\": 0,\n    \"softBounced\": 0,\n    \"opened\": [\n        2,\n        8\n    ],\n    \"effectiveopened\": [\n        0,\n        0\n    ],\n    \"clicked\": [\n        2,\n        2\n    ],\n    \"notsent\": [\n        1,\n        1\n    ],\n    \"notopened\": 0,\n    \"optout\": 0,\n    \"spam\": 0,\n    \"lastOpen\": \"2 days ago\",\n    \"lastClick\": \"2 days ago\",\n    \"lastOpenTS\": 1725721786344,\n    \"lastClickTS\": 1725641533146,\n    \"rebroadcast\": 0,\n    \"rebroadcastClick\": 0,\n    \"msgId\": \"s-0001-2409\",\n    \"subject\": \"It's been an amazing month!\",\n    \"title\": \"Monthly Update\",\n    \"sentto\": [\n        \"q-0002\"\n    ],\n    \"suppressedon\": []\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "ok"
                    },
                    "sent": {
                      "type": "integer",
                      "example": 2,
                      "default": 0
                    },
                    "delivered": {
                      "type": "integer",
                      "example": 2,
                      "default": 0
                    },
                    "bounced": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "hardBounced": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "softBounced": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "opened": {
                      "type": "array",
                      "items": {
                        "type": "integer",
                        "example": 2,
                        "default": 0
                      }
                    },
                    "effectiveopened": {
                      "type": "array",
                      "items": {
                        "type": "integer",
                        "example": 0,
                        "default": 0
                      }
                    },
                    "clicked": {
                      "type": "array",
                      "items": {
                        "type": "integer",
                        "example": 2,
                        "default": 0
                      }
                    },
                    "notsent": {
                      "type": "array",
                      "items": {
                        "type": "integer",
                        "example": 1,
                        "default": 0
                      }
                    },
                    "notopened": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "optout": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "spam": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "lastOpen": {
                      "type": "string",
                      "example": "2 days ago"
                    },
                    "lastClick": {
                      "type": "string",
                      "example": "2 days ago"
                    },
                    "lastOpenTS": {
                      "type": "integer",
                      "example": 1725721786344,
                      "default": 0
                    },
                    "lastClickTS": {
                      "type": "integer",
                      "example": 1725641533146,
                      "default": 0
                    },
                    "rebroadcast": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "rebroadcastClick": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "msgId": {
                      "type": "string",
                      "example": "s-0001-2409"
                    },
                    "subject": {
                      "type": "string",
                      "example": "It's been an amazing month!"
                    },
                    "title": {
                      "type": "string",
                      "example": "Monthly Update"
                    },
                    "sentto": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "q-0002"
                      }
                    },
                    "suppressedon": {
                      "type": "array"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Invalid or Deleted Messages": {
                    "value": "{\n    \"errorCode\": 10030,\n    \"message\": \"Invalid or deleted message\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorCode": {
                      "type": "integer",
                      "example": 10030,
                      "default": 0
                    },
                    "message": {
                      "type": "string",
                      "example": "Invalid or deleted message"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/1/message/{id}/report/{drilldown}": {
      "get": {
        "summary": "Get message report drilldown",
        "description": "Get a drilldown report for a specific email message.",
        "operationId": "get-message-report-drilldown",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Specify the ID of the message",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "drilldown",
            "in": "path",
            "description": "Specify the type to be returned. (\"SENT\", \"SUPPRESSED\", \"OPENED\", \"CLICKED\", \"BOUNCED\", \"OPT_OUT\", \"SPAM\")",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "count",
            "in": "query",
            "description": "Specify the number of elements to fetch. (Maximum=1000)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Specify the element offset to begin the fetch. (Default=0)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "responseformat",
            "in": "query",
            "description": "Specify the desired response format. (\"JSON\", \"CSV\")",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"offset\": 2209,\n    \"count\": 0,\n    \"totalCount\": 8,\n    \"result\": []\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "offset": {
                      "type": "integer",
                      "example": 2209,
                      "default": 0
                    },
                    "count": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "totalCount": {
                      "type": "integer",
                      "example": 8,
                      "default": 0
                    },
                    "result": {
                      "type": "array"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Invalid drill-down verb": {
                    "value": "{\n    \"errorCode\": 10089,\n    \"message\": \"Invalid drill-down verb\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorCode": {
                      "type": "integer",
                      "example": 10089,
                      "default": 0
                    },
                    "message": {
                      "type": "string",
                      "example": "Invalid drill-down verb"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "examples": {
                  "Invalid ID": {
                    "value": "{\n    \"errorCode\": 10030,\n    \"message\": \"Invalid or deleted message\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorCode": {
                      "type": "integer",
                      "example": 10030,
                      "default": 0
                    },
                    "message": {
                      "type": "string",
                      "example": "Invalid or deleted message"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/1/message/report": {
      "get": {
        "summary": "Get message report by time period",
        "description": "Fetch the message rollup report from your account.",
        "operationId": "get-message-report-by-time-period",
        "parameters": [
          {
            "name": "period",
            "in": "query",
            "description": "Specify the time period for the report. (Format: YYMM, eg. \"1401\")",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}{\n    \"month\": \"September 2024\",\n    \"counts\": [\n        {\n            \"optedOut\": 0,\n            \"dayOfWeek\": 1,\n            \"dayOfMonth\": 1,\n            \"hardBounced\": 0,\n            \"softBounced\": 0,\n            \"opened\": 0,\n            \"bounced\": 0,\n            \"clicked\": 0,\n            \"sent\": 0\n        },\n        {\n            \"optedOut\": 0,\n            \"dayOfWeek\": 2,\n            \"dayOfMonth\": 2,\n            \"hardBounced\": 0,\n            \"softBounced\": 0,\n            \"opened\": 0,\n            \"bounced\": 0,\n            \"clicked\": 0,\n            \"sent\": 0\n        },\n        \n    ]\n}"
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Invalid Date Period": {
                    "value": "{\n    \"errorCode\": 10160,\n    \"message\": \"The date period is invalid.\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorCode": {
                      "type": "integer",
                      "example": 10160,
                      "default": 0
                    },
                    "message": {
                      "type": "string",
                      "example": "The date period is invalid."
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/1/media/{id}/report/": {
      "get": {
        "summary": "Get media report",
        "description": "Get a report on the specified media from your account.",
        "operationId": "get-media-report",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Specify the ID of the media object",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Successful Response": {
                    "value": "{\n    \"total_known_views\": 0,\n    \"total_unknown_views\": 3,\n    \"unique_known_views\": 0,\n    \"unique_unknown_views\": 2,\n    \"total_messages\": 0,\n    \"total_from_messages\": 0,\n    \"unique_from_messages\": 0\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "total_known_views": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "total_unknown_views": {
                      "type": "integer",
                      "example": 3,
                      "default": 0
                    },
                    "unique_known_views": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "unique_unknown_views": {
                      "type": "integer",
                      "example": 2,
                      "default": 0
                    },
                    "total_messages": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "total_from_messages": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "unique_from_messages": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"errorCode\": 10054,\n    \"message\": \"The id is invalid\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorCode": {
                      "type": "integer",
                      "example": 10054,
                      "default": 0
                    },
                    "message": {
                      "type": "string",
                      "example": "The id is invalid"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/1/media/{id}/report/messages": {
      "get": {
        "summary": "Get media message report",
        "description": "Get a media message report from your account.",
        "operationId": "get-media-message-report",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Specify the ID of the media object",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Successful Response": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/1/media/{id}/report/views": {
      "get": {
        "summary": "Get a media view report",
        "description": "Get a media view report from your account.",
        "operationId": "get-a-media-view-report",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Specify the ID of the media object",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Successful Response": {
                    "value": "[\n    {\n        \"known\": false,\n        \"recipient\": \"Comcast\",\n        \"campaign\": \"\",\n        \"action\": \"downloaded\",\n        \"total_count\": 2,\n        \"srcid\": \"\",\n        \"cid\": \"\",\n        \"tstamp\": \"Sep 6 2024 12:55 PM PDT\"\n    },\n    {\n        \"known\": false,\n        \"recipient\": \"Act-on Software\",\n        \"campaign\": \"\",\n        \"action\": \"downloaded\",\n        \"total_count\": 1,\n        \"srcid\": \"\",\n        \"cid\": \"\",\n        \"tstamp\": \"Sep 6 2024 9:46 AM PDT\"\n    }\n]"
                  }
                },
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "known": {
                        "type": "boolean",
                        "example": false,
                        "default": true
                      },
                      "recipient": {
                        "type": "string",
                        "example": "Comcast"
                      },
                      "campaign": {
                        "type": "string",
                        "example": ""
                      },
                      "action": {
                        "type": "string",
                        "example": "downloaded"
                      },
                      "total_count": {
                        "type": "integer",
                        "example": 2,
                        "default": 0
                      },
                      "srcid": {
                        "type": "string",
                        "example": ""
                      },
                      "cid": {
                        "type": "string",
                        "example": ""
                      },
                      "tstamp": {
                        "type": "string",
                        "example": "Sep 6 2024 12:55 PM PDT"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Invalid ID": {
                    "value": "{\n    \"errorCode\": 10054,\n    \"message\": \"The id is invalid\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorCode": {
                      "type": "integer",
                      "example": 10054,
                      "default": 0
                    },
                    "message": {
                      "type": "string",
                      "example": "The id is invalid"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/1/media/{id}/report/timeline": {
      "get": {
        "summary": "Get a media timeline report",
        "description": "Get a timeline report for specified media.",
        "operationId": "get-a-media-timeline-report",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Specify the ID of the media object",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Successful Response": {
                    "value": "[\n    {\n        \"date\": \"09/06/2024\",\n        \"unique\": 2,\n        \"total\": 3,\n        \"known\": 0,\n        \"unknown\": 3\n    }\n]"
                  }
                },
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "date": {
                        "type": "string",
                        "example": "09/06/2024"
                      },
                      "unique": {
                        "type": "integer",
                        "example": 2,
                        "default": 0
                      },
                      "total": {
                        "type": "integer",
                        "example": 3,
                        "default": 0
                      },
                      "known": {
                        "type": "integer",
                        "example": 0,
                        "default": 0
                      },
                      "unknown": {
                        "type": "integer",
                        "example": 3,
                        "default": 0
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Invalid ID": {
                    "value": "{\n    \"errorCode\": 10054,\n    \"message\": \"The id is invalid\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorCode": {
                      "type": "integer",
                      "example": 10054,
                      "default": 0
                    },
                    "message": {
                      "type": "string",
                      "example": "The id is invalid"
                    }
                  }
                }
[...]
